.custom-brand-rounded {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: contain;
}

.custom-link-rounded {
    background: var(--background-white);
    border-radius: 50%;
    display: inline-block;
}