.brand-rounded {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: contain;
}

.link-rounded {
    background-color: var(--white);
    border-radius: 50%;
    display: inline-block;
}
.brands {
    background-color: var(--header-color);
    color: var(--white);
    position: relative;
    padding: 35px;
    .brand-text {
        font-family: initial;
    }
}