@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

:root {
  --main-color: #22b0f0;
  --sub-main-color: #1d4164;
  --header-color: #28527a;
  --green: #19A4E3;
  --yellow: #f9ba32;
  --white: #fcfcfc;
  --shadow: 0px 3px 6px #00000029;
  --gray: #999;
  --dark-gray: #5b7084;
  --dark-main-color: #283C79;
}
.font-bold {
  font-weight: bold;
}
.bg-yellow {
  background-color: var(--yellow);
}