.product-card {
    padding: 35px;
    position: relative;
    .horizontal-card {
        border-radius: 18px;
        padding: 5px;
        overflow: hidden;
        padding: 0px;
        margin-block: 10px;
        border: 2px solid #eee;
    }
    span {
        font-size: 14px;
    }

    h4 {
        color: var(--sub-main-color);
        font-family: initial;
        font-weight: bold;
    }

    .action {
        font-size: 13px;
    }

    .action-title {
        font-weight: bold;
        margin: 0;
    }

    .badge {
        background-color: var(--yellow);
        border-radius: 16px;
        font-weight: bold;
    }

    .emla__arrows button {
        border-color: var(--header-color);
    }

}